<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"] - Allegiant</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RazorPagesAllegiant.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" />
</head>
<body>
    <header id="header-container">
        <!-- Color scheme from https://adobe.ly/2lL5M7P -->
        <div class="container">
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <a class="navbar-brand" href="#">
                <img alt="Brand" class="brandImage" style="max-width: 10%;" src="~/images/logo/type_face/AllegiantDevTypeFaceLogo_Pink.png">
            </a>
            <ul>
                <li>
                    testItem
                </li>
            </ul>
@*            <ul class="panel">
                <li class="color-1">
                    <a href="#client">
                        <div class="front">
                            <i class="fa fa-user fa-4x"></i>
                        </div>
                        <div class="back">
                            <span>Client</span>
                        </div>
                    </a>

                </li>
                <li class="color-2">
                    <a href="#advisors">
                        <div class="front">
                            <i class="fa fa-handshake-o fa-4x"></i>
                        </div>
                        <div class="back">
                            <span>Advisors</span>
                        </div>
                    </a>

                </li>
                <li class="color-3">
                    <a href="#background">
                        <div class="front">
                            <i class="fa fa-book fa-4x"></i>
                        </div>
                        <div class="back">
                            <span>Background</span>
                        </div>
                    </a>

                </li>
                <li class="color-4">
                    <a href="#problem">
                        <div class="front">
                            <i class="fa fa-question-circle-o fa-4x"></i>
                        </div>
                        <div class="back">
                            <span>Problem</span>
                        </div>
                    </a>

                </li>
                <li class="color-5">
                    <a href="#highlights">
                        <div class="front">
                            <i class="fa fa-lightbulb-o fa-4x"></i>
                        </div>
                        <div class="back">
                            <span>Highlights</span>
                        </div>
                    </a>

                </li>
                <li class="color-1">
                    <a href="#scope">
                        <div class="front">
                            <i class="fa fa-arrows-h fa-4x"></i>
                        </div>
                        <div class="back">
                            <span>Scope</span>
                        </div>
                    </a>

                </li>
                <li class="color-2">
                    <a href="#prototypes">
                        <div class="front">
                            <i class="fa fa-cogs fa-4x"></i>
                        </div>
                        <div class="back">
                            <span>Prototypes</span>
                        </div>
                    </a>

                </li>
                <li class="color-3">
                    <a href="#timeline">
                        <div class="front">
                            <i class="fa fa-clock-o fa-4x"></i>
                        </div>
                        <div class="back">
                            <span>Timeline</span>
                        </div>
                    </a>

                </li>
            </ul>*@
        </nav>
        </div>
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">AllegiantDev</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
            </li>
            </ul>
            </div>
            </div>
            </nav>*@


    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - AllegiantDev - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>