<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"] - Allegiant</title>
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon.png")" />
    @*<link rel="icon" type="image/svg" href="@Url.Content("~/favicon.svg")" />*@

    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.0/mdb.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RazorPagesAllegiant.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" />

</head>


<body>
    <header style="padding-bottom: 10%">
        <!-- Color scheme from https://adobe.ly/2lL5M7P -->

        <nav class="navbar fixed-top navbar-expand-md navbar-toggleable-md navbar-dark nav_bg_color border-bottom shadow p-3 mb-5">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index" style="display:flex; justify-content:center;">
                    <img alt="Brand" class="brandImage d-inline-block align-top" height="80" src="~/images/logo/typelogo/SVG/typelogo_dkbg_lgreen.svg" />
                </a>

                @*TODO: Navbar collapse is scuffed and looks like it snaps back *@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="panels navbar-collapse collapse d-md-inline-flex justify-content-between">
                    <div class="nav-item color-1">
                        <a href="#client">
                            <div class="front shadow-5-strong">
                                <i class="fa fa-user fa-3x"></i>
                            </div>
                            <div class="back shadow-5-strong">
                                <span style="font-size:1.5em;">Client</span>
                            </div>
                        </a>
                    </div>

                    <div class="nav-item color-2">
                        <a href="#advisors">
                            <div class="front shadow-5-strong">
                                <i class="fa fa-handshake-o fa-3x"></i>
                            </div>
                            <div class="back shadow-5-strong">
                                <span style="font-size:1.15em;">Advisors</span>
                            </div>
                        </a>
                    </div>

                    <div class="nav-item color-3">
                        <a href="#background">
                            <div class="front shadow-5-strong">
                                <i class="fa fa-book fa-3x"></i>
                            </div>
                            <div class="back shadow-5-strong">
                                <span style="font-size:0.8em;">Background</span>
                            </div>
                        </a>

                    </div>
                    <div class="nav-item color-4">
                        <a href="#problem">
                            <div class="front shadow-5-strong">
                                <i class="fa fa-question-circle-o fa-3x"></i>
                            </div>
                            <div class="back shadow-5-strong">
                                <span style="font-size:1.1em;">Problem</span>
                            </div>
                        </a>

                    </div>
                    <div class="nav-item color-5">
                        <a href="#highlights">
                            <div class="front shadow-5-strong">
                                <i class="fa fa-lightbulb-o fa-3x"></i>
                            </div>
                            <div class="back shadow-lg">
                                <span style="font-size:0.95em;">Highlights</span>
                            </div>
                        </a>

                    </div>
                    <div class="nav-item color-1">
                        <a href="#scope">
                            <div class="front shadow-5-strong">
                                <i class="fa fa-arrows-h fa-3x"></i>
                            </div>
                            <div class="back shadow-5-strong">
                                <span style="font-size:1.5em;">Scope</span>
                            </div>
                        </a>

                    </div>
                    <div class="nav-item color-2">
                        <a href="#prototypes">
                            <div class="front shadow-5-strong">
                                <i class="fa fa-cogs fa-3x"></i>
                            </div>
                            <div class="back shadow-5-strong">
                                <span style="font-size:0.875em;">Prototypes</span>
                            </div>
                        </a>
                    </div>

                    <div class="nav-item color-3">
                        <a href="#timeline">
                            <div class="front shadow-5-strong">
                                <i class="fa fa-clock-o fa-3x"></i>
                            </div>
                            <div class="back shadow-5-strong">
                                <span style="font-size:1.15em;">Timeline</span>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </nav>


    </header>


    <div class="container">
        <main role="main" class="pb-3" style="padding:20px;">
            @RenderBody()
        </main>
    </div>



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - AllegiantDev - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>