/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-link {
    position: relative;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

/******************************************/
/*Temporarily commented out warning lines*/
/****************************************/

.nav_bg_color {
    background-color: darkcyan; 
}

nav div .panels {
    min-width: 600px;
    position: relative;
    margin: 20px;
}

    nav div .panels .nav-item {
        width: 80px;
        height: 80px;
        margin: 4px;
        position: relative;
        float: left;
    }

    nav div .panels a.active {
        border-bottom: white 2px solid; 
    }
        /*set element perspective*/
        nav div .panels.active {
            width: 80px;
            height: 80px;
            float: left;
            border-bottom: 2px solid white;
            /*margin: 0 1px;*/
            -webkit-perspective: 600px;
            -moz-perspective: 600px;
            -ms-perspective: 600px;
            perspective: 600px;
        }

        /*set duration, hide backface, & set transform on front class*/
        nav div .panels .nav-item .front {
            text-align: center;
            -webkit-transform: rotateX(0deg) rotateY(0deg);
            -moz-transform: rotateX(0deg) rotateY(0deg);
            -ms-transform: rotateX(0deg) rotateY(0deg);
            -o-transform: rotateX(0deg) rotateY(0deg);
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }

        /*rotates element on mouse hover*/
        nav div .panels .nav-item:hover .front {
            -webkit-transform: rotateX(0deg) rotateY(180deg);
            -moz-transform: rotateX(0deg) rotateY(180deg);
            -ms-transform: rotateX(0deg) rotateY(180deg);
            -o-transform: rotateX(0deg) rotateY(180deg);
        }

        /*hides 'back' of icon unless user is hovering*/
        nav div .panels .nav-item .back {
            position: absolute;
            top: 0;
            width: inherit;
            height: inherit;
            text-align: center;
            z-index: -1;
            -webkit-transform: rotateX(0deg) rotateY(-180deg);
            -moz-transform: rotateX(0deg) rotateY(-180deg);
            -ms-transform: rotateX(0deg) rotateY(-180deg);
            -o-transform: rotateX(0deg) rotateY(-180deg);
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }

        /*sets 'back' to use z-index for browsers that do not support transform*/
        nav div .panels .nav-item:hover .back {
            z-index: 1;
            -webkit-transform: rotateX(0deg) rotateY(0deg);
            -moz-transform: rotateX(0deg) rotateY(0deg);
            -ms-transform: rotateX(0deg) rotateY(0deg);
            -o-transform: rotateX(0deg) rotateY(0deg);
        }

        nav div .panels .nav-item i {
            line-height: 80px !important;
            color: white;
            vertical-align: middle !important;
        }

        nav div .panels .nav-item span {
            display: inline-block;
            /*font-size: 0.825em;*/
            font-size-adjust: inherit;
            font-weight: 300;
            line-height: 80px;
            color: white;
            vertical-align: middle;
            word-wrap: anywhere !important;
        }

        nav div .panels .nav-item.color-1 .front,
        nav div .panels .nav-item.color-1 .back {
            background-color: #302f4d;
        }

        nav div .panels .nav-item.color-2 .front,
        nav div .panels .nav-item.color-2 .back {
            background-color: #302f4d;
        }

        nav div .panels .nav-item.color-3 .front,
        nav div .panels .nav-item.color-3 .back {
            background-color: #302f4d;
        }

        nav div .panels .nav-item.color-4 .front,
        nav div .panels .nav-item.color-4 .back {
            background-color: #302f4d;
        }

        nav div .panels .nav-item.color-5 .front,
        nav div .panels .nav-item.color-5 .back {
            background-color: #302f4d;
        }

footer p {
    font-size: .6em;
    text-align: center;
}
