@page
@model IndexModel
@{
    ViewData["Title"] = "Allegiant";
}

<div class="relpos container container-fixed">
    <h2 id="client">Meet Our Client</h2>
    <h4 style="padding-top: 3%">Client</h4>
    <p style="padding-top: 2%">Info about our client</p>
</div>

<div class="relpos container mt-lg-5">
    <h2 id="advisors">Our Advisors</h2>
    <div style="display: flex; justify-content: center;">
        <h4 style="text-align: left; padding-right: 15%">Professor</h4>
        <h4 style="text-align: right; padding-left: 15%">Advisor</h4>
    </div>
</div>

<div class="relpos container container-md mt-lg-5">
    <h2 id="background">Background</h2>
    <p style="padding-top: 2%">
        We were tasked with creating a new church management operations system, ChurchPoint, that
        would be a operational efficenty system that could service different types of church and regardless of size. This system would 
        include specific functions that the client would like that other church management systems could not offer.</p>
</div>

<div class="relpos container mt-lg-5">
  <div class="row">
    <div class="col-sm">
      <h4 style="text-align: center";>The Problem </h4>
        <ol style="text-align: left;">
        <li>The current church managment systems are entirely dependent on the size and function the church wants to perform.</li>
        <li>Current church management systems targeted only specific or general functions of a church, which may not be sutiable in a particular needs of a church.</li>
        </ol>
    </div>
    <div class="col-sm">
      <h4 style="text-align: center";>The Proposed Solution</h4>
      <p style="text-align: center;"padding-top: 2%">
        Is to create a church management system that be a process-driven (based on discipleship church) software that contains 
        a service-oriented information system that was robust. This system would be architected to be extensible, flexible
        security-compliant, and adaptable to any church environment no matter the size of the church.</p>
    </div>
   </div>
</div>
    
    


<div class="relpos container mt-lg-5">
    <h2 id="highlights">Highlights</h2>
</div>

<div class="container mt-lg-5">
    <h2 id="scope">Scope</h2>
</div>

<div class="relpos container mt-lg-5">
    <h2 id="prototypes">Prototypes</h2>
</div>

<div class="relpos container mt-lg-5">
    <h2 id="timeline">Timeline</h2>


@**********@
@*Timeline*@
@**********@

<ul class="relpos timeline">
    <li>
        <div class="timeline-badge">
            <a><i class="fa fa-circle" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Sprint 0</h4>
            </div>
            <ul>
                <li>Draft a Project Proposal</li>
                <li>Draft a Product Charter Document</li>
                <li>Sign Product Charter Document</li>
            </ul>
            <div class="timeline-footer">
                <p class="text-right">Sep-27-2021 - Oct-11-0221 </p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-badge">
            <a><i class="fa fa-circle invert" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Sprint 1</h4>
            </div>
            <ul>
                <li>Advisor Lab Meeting</li>
                <li>Client Review Meeting</li>
                <li>Buiness Event Table Produced</li>
                <li>Context Diagram Produced</li>
                <li>Git Versioning / C# Standards presentation</li>
                <li>Rough wireframe of potential product</li>
                <li>Begin Front-End Prototyping</li>
                <li>Project Logo and other assets</li>
                <li>Rough draft of Domain Data Entities / Relationships</li>
            </ul>
            <div class="timeline-footer">
                <p class="text-right">Oct-11-2021 - Oct-26-2021</p>
            </div>
        </div>
    </li>

    <li>
        <div class="timeline-badge">
            <a><i class="fa fa-circle" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Sprint 2</h4>
            </div>
            <ul>
                <li>C# Training Session 1</li>
                <li>C# Training Session 2</li>
                <li>Emergency Jira SOS Meeting</li>
                <li>Planning Poker Session after GM</li>
                <li>General Meeting 1 -- Weekly Standup</li>
                <li>General Meeting 2 -- Weekly Standup</li>
                <li>Front End UI/UX Team Meeting</li>
                <li>Sprint 02 - Client Review Meeting</li>
                <li>Sprint 02 - Lab Meeting & Retrospective</li>
                <li>Make GIT repo how to pdf</li>
                <li>Create Test Git</li>
                <li>Draft API Design</li>
                <li>Project Logo and other assets</li>
                <li>Rough wireframe of potential product</li>
                <li>Database Attributes/Relationships for Entities</li>
            </ul>
            <div class="timeline-footer">
                <p class="text-right">Oct-26-2021 - Nov-01-2021</p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-badge">
            <a><i class="fa fa-circle invert" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Sprint 3</h4>
            </div>
            <ul>
                <li>Started Mini-Projects using Tech Stack</li>
                <li>Document stating Tech Stack</li>
                <li>Refine Database Entities</li>
                <li>Starter Draft API Design</li>
                <li>General Meeting 1 -- Weekly Standup</li>
                <li>General Meeting 2 -- Weekly Standup</li>
                <li>Front End & DevOps Team Meeting</li>
                <li>Sprint 03 - Client Review Meeting</li>
                <li>Sprint 03 - Lab Meeting & Retrospective</li>
                <li>Wireframe Login Menu</li>
                <li>Wireframe Social Media Intergration Windows</li>
                <li>Created Test Git</li>
                <li>Made GIT repo how to pdf</li>
                <li>Back-End Meeting</li>
                <li>Create Session Materials for Dev Training #3</li>
                <li>Change Centerpoint -> ChurchPoint on the wireframes</li>
            </ul>
            <div class="timeline-footer">
                <p class="text-right">Nov-01-2021 - Nov-15-2021</p>
            </div>
        </div>
    </li>

    <li>
        <div class="timeline-badge">
            <a><i class="fa fa-circle" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Sprint 4</h4>
            </div>
            <ul>
                <li>Finish Mini-Project</li>
                <li>Finalization of Project Documentation</li>
                <li>Finish Project Webpage</li>
                <li>Finish Project Presentation</li>
                <li>Sprint 04 - Client Review Meeting</li>
                <li>Sprint 04 - Lab Meeting & Retrospective</li>
            </ul>
            <div class="timeline-footer">
                <p class="text-right">Nov-15-2021 - Nov-29-2021</p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-badge">
            <a><i class="fa fa-circle invert" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Sprint 4.1</h4>
            </div>
            <ul>
                <li>Get Ready for 191</li>
            </ul>
            <div class="timeline-footer primary">
                <p class="text-right">Nov-29-2021 - ???</p>
            </div>
        </div>
    </li>
    <li class="clearfix no-float"></li>
</ul>

</div>