@page
@model IndexModel
@{
    ViewData["Title"] = "Allegiant";
}

<script type="text/javascript">

</script>


<div data-spy="scroll" class="scrollspy-ss" data-target="#navbar-scrollspy" data-offset="0">

    <div id="carouselTeam" class="carousel slide" data-ride"carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselTeam" data-slide-to="0" class="active"></li>
        </ol>
    </div>

    <div id="client" class="relpos container container-fixed">
        <h2>Meet Our Client</h2>
        <h4 style="padding-top: 3%">Client</h4>
        <p style="padding-top: 2%">Info about our client</p>
    </div>

    <hr />

    <div id="advisors" class="relpos container mt-lg-5">
        <h2>Our Advisors</h2>
        <div style="display: flex; justify-content: center;">
            <h4 style="text-align: left; padding-right: 15%">Professor</h4>
            <h4 style="text-align: right; padding-left: 15%">Advisor</h4>
        </div>
        <p style="padding-top: 2%">Info about our advisors</p>
    </div>

    <hr />

    @*BACKGROUND*@
    <div id="background" class="relpos container container-md mt-lg-5">
        <h2>Background</h2>
        <p style="padding-top: 2%">
            So we were tasked with creating a new church management operations system, ChurchPoint, that
            would be a operational efficenty system that could service different types of church and regardless of size. This system would
            include specific functions that the client would like that other church management systems could not offer.
        </p>
    </div>

    <hr /> 

    @*PROBLEM*@
    <div id="problem" class="relpos container mt-lg-5">
        <h2>Problem & Proposed Solution</h2>
        <p style="padding-top: 2%">
            The purpose of ChurchPoint is to create a church management service that is tailored to the specific needs the client
            was looking for in a church management system that the others didn't have to offer.This would include, and no limited to,
            tracking system for church services and church management services,
            3rd party intergration, system admin services, and much more.
        </p>
    </div>

    <hr />

    @*HIGHLIGHTS*@
    <div id="highlights" class="relpos container mt-lg-5">
        <h2>Highlights</h2>
        <h4 style="padding-top: 3%">Social & Event Engagement</h4>
        <p style="padding-top: 2%">Inclusive church information can be found within the website that will display social engagements as well as allow for events to be created and handled. </p>
        <h4 style="padding-top: 3%">Membership Services</h4>
        <p style="padding-top: 2%">Track the attendance of Members, visitors, and be able to display the data within a time period.</p>
        <h4 style="padding-top: 3%">Resource Management</h4>
        <p style="padding-top: 2%">Consists of all the necesarry application and division of powers that is needed within a business. (HR, Finance and Treasury, Staff, Volunteers, Inventory, etc.)</p>
        <h4 style="padding-top: 3%">Ministry Services</h4>
        <p style="padding-top: 2%">Tailored specifically for a church management software, these features will include Prayrer, Discipleship, Koinonia, Praise & Worship, Evangalism, etc.</p>
    </div>

    <hr />

    @*SCOPE*@
    <div class="container mt-lg-5">
        <h2 id="scope">Scope</h2>
        <p style="padding-top: 2%">
            Churchpoint will allow user to manage single or multiple churches through the implementation of the application
            where all of the necessary things to build a successful church will be located anywhere that there is access to a webpage.
        </p>
    </div>

    <hr />

    @*PROTOTYPES*@
    <div class="relpos container mt-lg-5">
        <h2 id="prototypes">Prototypes</h2>
        <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);"
                width="1000" height="650"
                src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FLNJVIU64duxPDdnbh19jrC%2FWireframing-in-Figma%3Fpage-id%3D0%253A1%26node-id%3D597%253A3342%26viewport%3D241%252C48%252C0.06%26scaling%3Dscale-down%26starting-point-node-id%3D597%253A3342" allowfullscreen>
        </iframe>
    </div>

    <hr />

    @*TIMELINE*@
    <div class="relpos timelineContainer container mt-lg-5">
        <h2 id="timeline">Timeline</h2>
        <section class="timeline">
            <div>
                <div class="timeline-item reveal fade-bottom">
                    <div class="timeline-img"></div>
                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <h2>Card Title</h2>
                        </div>
                        <div class="date">25 MAY 2016</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                        <button type="button" class="btn btn-info" font color="white">More</button>
                    </div>
                </div>
                <div class="timeline-item reveal fade-bottom">
                    <div class="timeline-img"></div>
                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <h2>Card Title</h2>
                        </div>
                        <div class="date">25 MAY 2016</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                        <button type="button" class="btn btn-info" font color="white">More</button>
                    </div>
                </div>
                <div class="timeline-item reveal fade-bottom">
                    <div class="timeline-img"></div>
                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <h2>Card Title</h2>
                        </div>
                        <div class="date">25 MAY 2016</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                        <button type="button" class="btn btn-info" font color="white">More</button>
                    </div>
                </div>
                <div class="timeline-item reveal fade-bottom">
                    <div class="timeline-img"></div>
                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <h2>Card Title</h2>
                        </div>
                        <div class="date">25 MAY 2016</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                        <button type="button" class="btn btn-info" font color="white">More</button>
                    </div>
                </div>
                <div class="timeline-item reveal fade-bottom">
                    <div class="timeline-img"></div>
                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <h2>Card Title</h2>
                        </div>
                        <div class="date">25 MAY 2016</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                        <button type="button" class="btn btn-info" font color="white">More</button>
                    </div>
                </div>
                <div class="timeline-item reveal fade-bottom">
                    <div class="timeline-img"></div>
                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <h2>Card Title</h2>
                        </div>
                        <div class="date">25 MAY 2016</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                        <button type="button" class="btn btn-info" font color="white">More</button>
                    </div>
                </div>
                <div class="timeline-item reveal fade-bottom">
                    <div class="timeline-img"></div>
                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <h2>Card Title</h2>
                        </div>
                        <div class="date">25 MAY 2016</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                        <button type="button" class="btn btn-info" font color="white">More</button>
                    </div>
                </div>
                <div class="timeline-item reveal fade-bottom">
                    <div class="timeline-img"></div>
                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <h2>Card Title</h2>
                        </div>
                        <div class="date">25 MAY 2016</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                        <button type="button" class="btn btn-info" font color="white">More</button>
                    </div>
                </div>
                <div class="timeline-item reveal fade-bottom">
                    <div class="timeline-img"></div>
                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <h2>Card Title</h2>
                        </div>
                        <div class="date">25 MAY 2016</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                        <button type="button" class="btn btn-info" font color="white">More</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>