@page
@model IndexModel
@{
    ViewData["Title"] = "Allegiant";
}

<div class="TestClass" style="padding: 5%; text-align: center">
    <h2>Meet Our Client</h2>
</div>

<div class="TestClass" style="text-align: center">
    <h4>Client</h4>
</div>

<div class="TestClass" style="padding: 5%; text-align: center">
    <h2>Our Advisors</h2>
</div>

<div class="TestClass">
    <h4 style="text-align: left; padding-left: 15%">Professor</h4>
    <h4 style="text-align: right; padding-right: 15%">Advisor</h4>
</div>

<div class="TestClass" style="padding: 5%; text-align: center">
    <h2>Background</h2>
</div>

<div class="TestClass" style="padding: 5%; text-align: center">
    <h2>Problem & Proposed Solution</h2>
</div>

<div class="TestClass" style="padding: 5%; text-align: center">
    <h2>Highlights</h2>
</div>

<div class="TestClass" style="padding: 5%; text-align: center">
    <h2>Scope</h2>
</div>

<div class="TestClass" style="padding: 5%; text-align: center">
    <h2>Prototypes</h2>
</div>

<div class="TestClass" style="padding: 5%; text-align: center">
    <h2>Timeline</h2>
</div>

