@page
@model IndexModel
@{
    ViewData["Title"] = "Allegiant";
}

<div style="padding: 5%">
    <h2>Meet Our Client</h2>
</div>

<div style="display:flex; justify-content: right; padding-right: 20%">
    <h4 style="text-align: center;">Client</h4>
</div>

<div style="padding: 5%">
    <h2>Our Advisors</h2>
</div>

<div style="display:flex; justify-content: right; padding-right: 30%">
    <h4 style="text-align: center; padding-right: 15%">Professor</h4>
    <h4 style="text-align: center;">Advisor</h4>
</div>

<div style="padding: 5%">
    <h2>Background</h2>
</div>

<div style="padding: 5%">
    <h2>Problem & Proposed Solution</h2>
</div>

<div style="padding: 5%">
    <h2>Highlights</h2>
</div>

<div style="padding: 5%">
    <h2>Scope</h2>
</div>

<div style="padding: 5%">
    <h2>Prototypes</h2>
</div>

<div style="padding: 5%">
    <h2>Timeline</h2>
</div>

