@page
@model IndexModel
@{
	ViewData["Title"] = "Allegiant";
}

<script type="text/javascript">

</script>


<div data-spy="scroll" class="scrollspy-ss" data-target="#navbar-scrollspy" data-offset="0">

	<div id ="carouselTeam" class="carousel slide" data-ride"carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselTeam" data-slide-to="0" class="active"></li>
		</ol>
	</div>



<div class="relpos container container-fixed">
<<<<<<< HEAD
	<h2 id="client">Meet Our Client</h2>
	<h4 style="padding-top: 3%">Client</h4>
	<p style="padding-top: 2%">Info about our client</p>
=======
	<h2  id="client">Meet Our Client</h2>
	<h4 style="padding-top: 3%">Client</h4>
	<p style="padding-top: 2%">Info about our client</p>
>>>>>>> pm/main
</div>

<div class="relpos container mt-lg-5">
	<h2 id="advisors">Our Advisors</h2>
	<div style="display: flex; justify-content: center;">
		<h4 style="text-align: left; padding-right: 15%">Professor</h4>
		<h4 style="text-align: right; padding-left: 15%">Advisor</h4>
	</div>
</div>

<div class="relpos container container-md mt-lg-5">
	<h2 id="background">Background</h2>
</div>

<div class="relpos container mt-lg-5">
	<h2 id="problem">Problem & Proposed Solution</h2>
</div>

<div class="relpos container mt-lg-5">
	<h2 id="highlights">Highlights</h2>
</div>

<div class="container mt-lg-5">
	<h2 id="scope">Scope</h2>
</div>

<div class="relpos container mt-lg-5">
	<h2 id="prototypes">Prototypes</h2>
</div>

<div class="relpos container mt-lg-5">
	<h2 id="timeline">Timeline</h2>

@**********@
@*Timeline*@
@**********@

<section class="timeline">
  <div>
	<div class="timeline-item reveal fade-bottom">

	  <div class="timeline-img"></div>

	  <div class="timeline-content timeline-card js--fadeInRight">
		<div class="timeline-img-header">
		  <h2>Card Title</h2>
		</div>
		<div class="date">25 MAY 2016</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
		<button type="button" class="btn btn-info" font color="white">More</button>
	  </div>

	</div> 

	<div class="timeline-item reveal fade-bottom">

	  <div class="timeline-img"></div>

	  <div class="timeline-content timeline-card js--fadeInRight">
		<div class="timeline-img-header">
		  <h2>Card Title</h2>
		</div>
		<div class="date">25 MAY 2016</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
		<button type="button" class="btn btn-info" font color="white">More</button>
	  </div>

	</div>   

	<div class="timeline-item reveal fade-bottom">

	  <div class="timeline-img"></div>

	  <div class="timeline-content timeline-card js--fadeInRight">
		<div class="timeline-img-header">
		  <h2>Card Title</h2>
		</div>
		<div class="date">25 MAY 2016</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
		<button type="button" class="btn btn-info" font color="white">More</button>
	  </div>

	</div> 

	<div class="timeline-item reveal fade-bottom">

	  <div class="timeline-img"></div>

	  <div class="timeline-content timeline-card js--fadeInRight">
		<div class="timeline-img-header">
		  <h2>Card Title</h2>
		</div>
		<div class="date">25 MAY 2016</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
		<button type="button" class="btn btn-info" font color="white">More</button>
	  </div>

	</div> 

	<div class="timeline-item reveal fade-bottom">

	  <div class="timeline-img"></div>

	  <div class="timeline-content timeline-card js--fadeInRight">
		<div class="timeline-img-header">
		  <h2>Card Title</h2>
		</div>
		<div class="date">25 MAY 2016</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
		<button type="button" class="btn btn-info" font color="white">More</button>
	  </div>

	</div> 

	<div class="timeline-item reveal fade-bottom">

	  <div class="timeline-img"></div>

	  <div class="timeline-content timeline-card js--fadeInRight">
		<div class="timeline-img-header">
		  <h2>Card Title</h2>
		</div>
		<div class="date">25 MAY 2016</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
		<button type="button" class="btn btn-info" font color="white">More</button>
	  </div>

	</div> 

	<div class="timeline-item reveal fade-bottom">

	  <div class="timeline-img"></div>

	  <div class="timeline-content timeline-card js--fadeInRight">
		<div class="timeline-img-header">
		  <h2>Card Title</h2>
		</div>
		<div class="date">25 MAY 2016</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
		<button type="button" class="btn btn-info" font color="white">More</button>
	  </div>

	</div> 

	<div class="timeline-item reveal fade-bottom">

	  <div class="timeline-img"></div>

	  <div class="timeline-content timeline-card js--fadeInRight">
		<div class="timeline-img-header">
		  <h2>Card Title</h2>
		</div>
		<div class="date">25 MAY 2016</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
		<button type="button" class="btn btn-info" font color="white">More</button>
	  </div>

	</div>  

	<div class="timeline-item reveal fade-bottom">

	  <div class="timeline-img"></div>

	  <div class="timeline-content timeline-card js--fadeInRight">
		<div class="timeline-img-header">
		  <h2>Card Title</h2>
		</div>
		<div class="date">25 MAY 2016</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
		<button type="button" class="btn btn-info" font color="white">More</button>
	  </div>

	</div> 



  </div>
</section>

</div>
</div>