@page
@model IndexModel
@{
    ViewData["Title"] = "Allegiant";
}

<div class="relpos container container-fixed">
    <h2 id="client">Meet Our Client</h2>
    <h4 style="padding-top: 3%">Client</h4>
    <p style="padding-top: 2%">Info about our client</p>
</div>

<div class="relpos container mt-lg-5">
    <h2 id="advisors">Our Advisors</h2>
    <div style="display: flex; justify-content: center;">
        <h4 style="text-align: left; padding-right: 15%">Professor</h4>
        <h4 style="text-align: right; padding-left: 15%">Advisor</h4>
    </div>
</div>

<div class="relpos container container-md mt-lg-5">
    <h2 id="background">Background</h2>
    <p style="padding-top: 2%">
        We were tasked with creating a new church management operations system, ChurchPoint, that
        would be a operational efficenty system that could service different types of church and regardless of size. This system would 
        include specific functions that the client would like that other church management systems could not offer.</p>
</div>

<div class="relpos container mt-lg-5">
  <div class="row">
    <div class="col-sm">
      <h4 style="text-align: center";>The Problem </h4>
        <ol style="text-align: left;">
        <li>The current church managment systems are entirely dependent on the size and function the church wants to perform.</li>
        <li>Current church management systems targeted only specific or general functions of a church, which may not be sutiable in a particular needs of a church.</li>
        </ol>
    </div>
    <div class="col-sm">
      <h4 style="text-align: center";>The Proposed Solution</h4>
      <p style="text-align: center;"padding-top: 2%">
        Is to create a church management system that be a process-driven (based on discipleship church) software that contains 
        a service-oriented information system that was robust. This system would be architected to be extensible, flexible
        security-compliant, and adaptable to any church environment no matter the size of the church.</p>
    </div>
   </div>
</div>
    
    


<div class="relpos container mt-lg-5">
    <h2 id="highlights">Highlights</h2>
</div>

<div class="container mt-lg-5">
    <h2 id="scope">Scope</h2>
</div>

<div class="relpos container mt-lg-5">
    <h2 id="prototypes">Prototypes</h2>
</div>

<div class="relpos container mt-lg-5">
    <h2 id="timeline">Timeline</h2>


@**********@
@*Timeline*@
@**********@

<ul class="relpos timeline">
    <li>
        <div class="timeline-badge">
            <a><i class="fa fa-circle" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Sprint 0</h4>
            </div>
            <ul>
                <li>Draft a Project Proposal</li>
                <li>Draft a Product Charter Document</li>
            </ul>
            <div class="timeline-footer">
                <p class="text-right">Sep-27-2021 - Oct-11-0221 </p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-badge">
            <a><i class="fa fa-circle invert" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Sprint 1</h4>
            </div>
            <div class="timeline-body">
                <p>Stranguillione in deinde cepit roseo commendavit patris super color est se sed. Virginis plus plorantes abscederem assignato ipsum ait regem Ardalio nos filiae Hellenicus mihi cum. Theophilo litore in lucem in modo invenit quasi nomen magni ergo est se est Apollonius, habet clementiae venit ad nomine sed dominum depressit filia navem.</p>
            </div>
            <div class="timeline-footer">
                <p class="text-right">Oct-11-2021 - Oct-26-2021</p>
            </div>
        </div>
    </li>

    <li>
        <div class="timeline-badge">
            <a><i class="fa fa-circle" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Sprint 2</h4>
            </div>
            <div class="timeline-body">
                <p>Advenientibus aliorum eam ad per te sed. Facere debetur aut veneris accedens.</p>
            </div>
            <div class="timeline-footer">
                <p class="text-right">Oct-26-2021 - Nov-01-2021</p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-badge">
            <a><i class="fa fa-circle invert" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Sprint 3</h4>
            </div>
            <div class="timeline-body">
                <p>Volvitur ingreditur id ait mea vero cum autem quod ait Cumque ego illum vero cum unde beata. Commendavi si non dum est in. Dionysiadem tuos ratio puella ut casus, tunc lacrimas effunditis magister cives Tharsis. Puellae addita verbaque' capellam sanctissima quid, apollinem existimas filiam rex cum autem quod tamen adnuente rediens eam est se in. Peracta licet ad nomine Maria non ait in modo compungi mulierem volutpat.</p>
            </div>
            <div class="timeline-footer">
                <p class="text-right">Nov-01-2021 - Nov-15-2021</p>
            </div>
        </div>
    </li>

    <li>
        <div class="timeline-badge">
            <a><i class="fa fa-circle" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Sprint 4</h4>
            </div>
            <div class="timeline-body">
                <p>Adfertur guttae sapientiae ducitur est Apollonius ut a a his domino Lycoridem in lucem. Theophile atque bona dei cenam veniebant est cum. Iusto opes mihi Tyrum in modo compungi mulierem ubi augue eiusdem ordo quos vero diam omni catervis famulorum. Bene dictis ut diem finito servis unde.</p>
            </div>
            <div class="timeline-footer">
                <p class="text-right">Nov-15-2021 - Nov-29-2021</p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-badge">
            <a><i class="fa fa-circle invert" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Sprint 4.1</h4>
            </div>
            <div class="timeline-body">
                <p>Crede respiciens loco dedit beneficio ad suis alteri si puella eius in. Acceptis codicello lenonem in deinde plectrum anni ipsa quod eam est Apollonius.</p>
            </div>
            <div class="timeline-footer primary">
                <p class="text-right">Nov-29-2021 - ???</p>
            </div>
        </div>
    </li>
    <li class="clearfix no-float"></li>
</ul>

</div>