@page
@model IndexModel
@{
    ViewData["Title"] = "Allegiant";
}


<!--Font Aweso!importantmportante Icons-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" />
@*<link rel="stylesheet" href="~/css/font-awesome.css" />*@


<div data-spy="scroll" class="relpos" data-target="#navbar-scrollspy" data-offset="0">

    <div id="team" class="text-white container container-md mt-lg-5 mb-lg-5">

        <div class="container d-flex align-content-center justify-content-center flex-grow-1">
            <a class=" order-1 navbar-brand" asp-area="" asp-page="/Index" style="color:white;">
                <img alt="Brand" class="brandImage d-inline-block align-top" width="100" src="~/images/logo/plain/SVG/logo_plain.svg" />
                <text style="font-family:Earth Orbiter; font-size:35px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Allegiant.<text style="color:#a9fdac;">Dev</text></text>
            </a>
        </div>


        <!-------------------------------- Accordion -------------------------------->
        <div class="accordion">
            @*Profile : Pix*@
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        <div class="row d-flex flex-wrap justify-content-between align-items-center">
                            <div class="col-4 text-left"><text style="font-size:1.25em;">Pix Mapanao</text></div>
                            <div class="col-6 text-right"><text style="font-size:1em;"><code style="color:white;">Project Manager | Full-Stack Lead Developer</code></text></div>
                            <div class="col-2 text-right">
                                <i class="collapseicon fas fa-code mx-2 float-end"></i>
                                <i class="collapseicon fas fa-layer-group mx-2 float-end"></i>
                                <i class="collapseicon fas fa-users mx-2 float-end"></i>
                                <i class="collapseicon fas fa-chalkboard-teacher mx-2 float-end"></i>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-1">
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <img class="img-fluid rounded-circle" src="~/images/assets/profile/pm/profile.png" style="width:75%;" />
                                    @*<img class="img-fluid rounded-circle" src="https://thispersondoesnotexist.com/image" style="width:75%;">*@
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-2">
                                        </div>
                                        <div class="col-10">
                                            <h4 class="text-center text-white">About</h4>
                                            <hr />
                                            <p class="text-center text-white" style="font-size:0.8em;">
                                                Highly motivated and passionate IT Professional with experience in software development. I believe it is time for me to be part of a
                                                bigger organization that can utilize and further my skillsets in support of the corporate vision and mission. My specialization is
                                                developing with Microsoft Technologies.
                                                <br />
                                                <hr />
                                                <text style="font-size:0.8em;"><code style="color:white;"> C# | HTML | CSS | Javascript | Java | Python <br /> ASP.NET MVC, Razor Pages, Blazor, Web API <br /> MSSQL | Azure</code></text>
                                                <hr />
                                                <a href="https://www.linkedin.com/in/pix-mapanao-577b54227/" target="_blank"><i class="collapseicon fab fa-linkedin fa-2x mx-2 my-2"></i></a>
                                                <a href="https://github.com/pmapanaoCSU" target="_blank"><i class="collapseicon fab fa-github-square fa-2x mx-2 my-2"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Profile : Eric*@
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-4 text-left"><text style="font-size:1.25em;">Eric Marlette</text></div>
                            <div class="col-6 text-right"><text style="font-size:1em;"><code style="color:white;">Scrum Master | Full-Stack Developer</code></text></div>
                            <div class="col-2 text-right">
                                <i class="collapseicon fas fa-code mx-2 float-end"></i>
                                <i class="collapseicon fas fa-layer-group mx-2 float-end"></i>
                                <i class="collapseicon fas fa-tasks mx-2 float-end"></i>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-1">
                            </div>
                    <div class="col-4">
                                <div class="row">
                                    @*GUIDE: Put your profile picture in ~/images/assets/profile/<your_initials>/<image>.png. Make sure to adjust the style="width:XX%"*@
                                    @*Where XX is the percentage that scales to the same size as Pix's profile picture*@
                                    <img class="img-fluid rounded-circle" src="~/images/assets/profile/eric/eric.jpg" style="width:75%;"/>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-2">
                                        </div>
                                        <div class="col-10">
                                            <h4 class="text-center text-white">About</h4>
                                            <hr />
                                            <p class="text-center text-white" style="font-size:0.8em;">
                                                @*GUIDE : Put in profile info here*@
                                                Aspiring software engineer graduating from Sacramento State University in Spring of 2022. I have knowledge in C, C++, C#, Java, and front-end markup languages such as HTML, CSS, and
                                                Javascript. I am passionate about learning all that I can about various aspects of software design, learning knew programming languages, and refining the languages I know.
                                                <br />
                                                <hr />

                                                <text style="font-size:0.8em;"><code style="color:white;">C | C# | C++ | Java | HTML | CSS | Javascript <br /> ASP.NET Razorpages | Blazor</code></text>
                                                <hr /> 
                                                @*GUIDE: Fill in your link urls in the a href="" sections*@
                                                <a href="" target="_blank"><i class="collapseicon fab fa-linkedin fa-2x mx-2 my-2"></i></a>
                                                <a href="https://github.com/SomeJello/" target="_blank"><i class="collapseicon fab fa-github-square fa-2x mx-2 my-2"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Profile : Keith Valdes*@
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-4 text-left"><text style="font-size:1.25em;">Keith Valdes</text></div>
                            <div class="col-6 text-right"><text style="font-size:1em"><code style="color:white;">Front-End Lead Developer</code></text></div>
                            <div class="col-2 text-right">
                                <i class="collapseicon fas fa-code mx-2 float-end"></i>
                                <i class="collapseicon fas fa-window-restore mx-2 float-end"></i>
                                <i class="collapseicon fas fa-users mx-2 float-end"></i>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-1">
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    @*GUIDE: Put your profile picture in ~/images/assets/profile/<your_initials>/<image>.png. Make sure to adjust the style="width:XX%"*@
                                    @*Where XX is the percentage that scales to the same size as Pix's profile picture*@
                                    <img class="img-fluid rounded-circle" src="~/images/assets/profile/kv/profile.png" style="width:75%"/>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-2">
                                        </div>
                                        <div class="col-10">
                                            <h4 class="text-center text-white">About</h4>
                                            <hr />
                                            <p class="text-center text-white" style="font-size:0.8em;">
                                                @*GUIDE : Put in profile info here*@
                                                Expected Graduation: May 2022
                                                <br />Specializes in Front end development with interests in AI/ML, Game Development and Computer Architecture                                               
                                                <br />
                                                <hr />

                                                <text style="font-size:0.8em;"><code style="color:white;"> @*GUIDE: Put in skillsets here*@ C# | HTML | CSS | Javascript <br /> C/C++ | Python | Unity <br /> Swift | SQL </code></text>
                                                <hr /> 
                                                @*GUIDE: Fill in your link urls in the a href="" sections*@
                                                <a href="" target="_blank"><i class="collapseicon fab fa-linkedin fa-2x mx-2 my-2"></i></a>
                                                <a href="https://github.com/klvaldes" target="_blank"><i class="collapseicon fab fa-github-square fa-2x mx-2 my-2"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Profile : Stephen*@
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-4 text-left"><text style="font-size:1.25em;">Stephen Gibson</text></div>
                            <div class="col-6 text-right"><text style="font-size:1em"><code style="color:white;">DevOps Lead | API Lead Back-End Developer</code></text></div>
                            <div class="col-2 text-right">
                                <i class="collapseicon fas fa-code mx-2 float-end"></i>
                                <i class="collapseicon fas fa-globe mx-2 float-end"></i>
                                <i class="collapseicon fas fa-cogs mx-2 float-end"></i>
                                <i class="collapseicon fas fa-users mx-2 float-end"></i>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-1">
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    @*GUIDE: Put your profile picture in ~/images/assets/profile/<your_initials>/<image>.png. Make sure to adjust the style="width:XX%"*@
                                    @*Where XX is the percentage that scales to the same size as Pix's profile picture*@
                                    <img class="img-fluid rounded-circle" src="~/images/assets/profile/sg/IMG_0564.jpg" style="width:75%;"/>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-2">
                                        </div>
                                        <div class="col-10">
                                            <h4 class="text-center text-white">About</h4>
                                            <hr />
                                            <p class="text-center text-white" style="font-size:0.8em;">
                                                @*GUIDE : Put in profile info here*@
                                                Expected Graduation: May 2022
                                                <br />Specializes in Back end development with interests in AI/ML, Parallel Computing, and Web Development
                                                <br />
                                                <hr />

                                                <text style="font-size:0.8em;"><code style="color:white;"> @*GUIDE: Put in skillsets here*@ C# | HTML | CSS  <br /> C/C++ | Python | Java <br /> SQL</code></text>
                                                <hr /> 
                                                @*GUIDE: Fill in your link urls in the a href="" sections*@
                                                <a href="https://www.linkedin.com/in/stephen-gibson-40934910a/" target="_blank"><i class="collapseicon fab fa-linkedin fa-2x mx-2 my-2"></i></a>
                                                <a href="https://github.com/LightningDrop" target="_blank"><i class="collapseicon fab fa-github-square fa-2x mx-2 my-2"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Profile : Nathan*@
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-4 text-left"><text style="font-size:1.25em;">Nathan Hidalgo</text></div>
                            <div class="col-6 text-right"><text style="font-size:1em"><code style="color:white;">Back-End Lead Developer</code></text></div>
                            <div class="col-2 text-right">
                                <i class="collapseicon fas fa-code mx-2 float-end"></i>
                                <i class="collapseicon fas fa-database mx-2 float-end"></i>
                                <i class="collapseicon fas fa-users mx-2 float-end"></i>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-1">
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    @*GUIDE: Put your profile picture in ~/images/assets/profile/<your_initials>/<image>.png. Make sure to adjust the style="width:XX%"*@
                                    @*Where XX is the percentage that scales to the same size as Pix's profile picture*@
                                    <img class="img-fluid rounded-circle" src="~/images/assets/profile/nh/DSC_7299_2.jpg" style="width:75%;"/>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-2">
                                        </div>
                                        <div class="col-10">
                                            <h4 class="text-center text-white">About</h4>
                                            <hr />
                                            <p class="text-center text-white" style="font-size:0.8em;">
                                                @*GUIDE : Put in profile info here*@
                                                <br />Enthusiastic IT Professional currently Interning at The Wine Group and will be graduating from Sacramento State University Spring 2022.
                                                Knowledge of C#, SQL, Java, C, and C++, but passionate about learning more, expanding my network, and using my skills to further help my company and its future endeavors.
                                                <br />
                                                <hr />

                                                <text style="font-size:0.8em;"><code style="color:white;"> @*GUIDE: Put in skillsets here*@ C# | SQL | Java  <br /> C/C++ | Entity Framework</code></text>
                                                <hr /> 
                                                @*GUIDE: Fill in your link urls in the a href="" sections*@
                                                <a href="https://www.linkedin.com/in/nathan-hidalgo-548436b1/" target="_blank"><i class="collapseicon fab fa-linkedin fa-2x mx-2 my-2"></i></a>
                                                <a href="https://github.com/nhidalgo20" target="_blank"><i class="collapseicon fab fa-github-square fa-2x mx-2 my-2"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Profile : Jonathan*@
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-4 text-left"><text style="font-size:1.25em;">Jonathan Lopez</text></div>
                            <div class="col-6 text-right"><text style="font-size:1em"><code style="color:white;">Scrum Master | Back-End Developer | Q/A Development Testing Lead</code></text></div>
                            <div class="col-2 text-right">
                                <i class="collapseicon fas fa-code mx-2 float-end"></i>
                                <i class="collapseicon fas fa-users mx-2 float-end"></i>
                                <i class="collapseicon fas fa-database mx-2 float-end"></i>
                                <i class="collapseicon fas fa-tasks mx-2 float-end"></i>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-1">
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    @*GUIDE: Put your profile picture in ~/images/assets/profile/<your_initials>/<image>.png. Make sure to adjust the style="width:XX%"*@
                                    @*Where XX is the percentage that scales to the same size as Pix's profile picture*@
                                    <img class="img-fluid rounded-circle" src="~/images/assets/profile/jl/profile.jpg" style="width:75%;" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-2">
                                        </div>
                                        <div class="col-10">
                                            <h4 class="text-center text-white">About</h4>
                                            <hr />
                                            <p class="text-center text-white" style="font-size:0.8em;">
                                                @*GUIDE : Put in profile info here*@
                                                Worked at Hard Rock Casino and Hotel Sacramento as an IT Operation Analyst where I developed hard critical thinking skills and technical skills that
                                                I am slowly translating into a higher level of programming. Expected to graduate Spring 2022 with knowledge of C#, SQL, Java, C++, and Python.
                                                I’m passionate about diving more into data analytics and software development where I can continue to sharpen my skills within the computer science world
                                                and use my managerial experience to hopefully propel me into a better career.
                                                <br />
                                                <hr />
                                                <text style="font-size:0.8em;"><code style="color:white;"> @*GUIDE: Put in skillsets here*@C# | Java | C++ | Python</code></text>
                                                <hr />
                                                @*GUIDE: Fill in your link urls in the a href="" sections*@
                                                <a href="https://www.linkedin.com/in/jonathan-lopez-b4624113b/" target="_blank"><i class="collapseicon fab fa-linkedin fa-2x mx-2 my-2"></i></a>
                                                <a href="https://github.com/omarlopez94" target="_blank"><i class="collapseicon fab fa-github-square fa-2x mx-2 my-2"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Profile : Antonio*@
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-4 text-left"><text style="font-size:1.25em;">Antonio Castaneda</text></div>
                            <div class="col-6 text-right"><text style="font-size:1em"><code style="color:white;">Front-End UI/UX Lead | Front-End Developer</code></text></div>
                            <div class="col-2 text-right">
                                <i class="collapseicon fas fa-code mx-2 float-end"></i>
                                <i class="collapseicon fas fa-mobile-alt mx-2 float-end"></i>
                                <i class="collapseicon fas fa-users mx-2 float-end"></i>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeven">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-1">
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    @*GUIDE: Put your profile picture in ~/images/assets/profile/<your_initials>/<image>.png. Make sure to adjust the style="width:XX%"*@
                                    @*Where XX is the percentage that scales to the same size as Pix's profile picture*@
                                    <img class="img-fluid rounded-circle" src="~/images/assets/profile/ac/profile.png" style="width:75%;"/>
                                    @*<img class="img-fluid rounded-circle" src="https://thispersondoesnotexist.com/image" style="width:75%;"/>2*@
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-2">
                                        </div>
                                        <div class="col-10">
                                            <h4 class="text-center text-white">About</h4>
                                            <hr />
                                            <p class="text-center text-white" style="font-size:0.8em;">
                                                Spring 2022 graduate who is eager to tackle higher levels of progamming along with building upon my weaknesses. I have a strong fascination to 
                                                head towards the area of software development as well as dig deeper into the field of game development. I am very excited to start my career within the 
                                                computer science environment and hope to expand my language comprehension. 
                                                <br />
                                                <hr />
                                                <text style="font-size:0.8em;"><code style="color:white;"> C# | C++ | Java | HTML </code></text>
                                                <hr /> 
                                                @*GUIDE: Fill in your link urls in the a href="" sections*@
                                                <a href="https://www.linkedin.com/in/antonio-c-59b334b2/" target="_blank"><i class="collapseicon fab fa-linkedin fa-2x mx-2 my-2"></i></a>
                                                <a href="https://github.com/acastaneda1998" target="_blank"><i class="collapseicon fab fa-github-square fa-2x mx-2 my-2"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Profile : Emanuel*@
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingEight">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseEight">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-4 text-left"><text style="font-size:1.25em;">Emanuel Onofre</text></div>
                            <div class="col-6 text-right"><text style="font-size:1em"><code style="color:white;">Front-End Developer</code></text></div>
                            <div class="col-2 text-right">
                                <i class="collapseicon fas fa-code mx-2 float-end"></i>
                                <i class="collapseicon fas fa-window-restore mx-2 float-end"></i>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEight">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-1">
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    @*GUIDE: Put your profile picture in ~/images/assets/profile/<your_initials>/<image>.png. Make sure to adjust the style="width:XX%"*@
                                    @*Where XX is the percentage that scales to the same size as Pix's profile picture*@
                                    <img class="img-fluid rounded-circle" src="~/images/assets/profile/eo/IMG_3674.jpg" style="width:75%;"/>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-2">
                                        </div>
                                        <div class="col-10">
                                            <h4 class="text-center text-white">About</h4>
                                            <hr />
                                            <p class="text-center text-white" style="font-size:0.8em;">
                                                @*GUIDE : Put in profile info here*@
                                                <br />First-Generation student of Mexican descent. Aspiring learner and highly adaptable person when it comes to working. 
                                                I hope to land a job in the Software Engineering field and learn furthermore to test my knowledge. 
                                                I am expected to graduate this Spring of 2022.
                                                <br />
                                                <hr />

                                                <text style="font-size:0.8em;"><code style="color:white;"> @*GUIDE: Put in skillsets here*@ HTML | CSS | JavaScript</code></text>
                                                <hr /> 
                                                @*GUIDE: Fill in your link urls in the a href="" sections*@
                                                <a href="" target="_blank"><i class="collapseicon fab fa-linkedin fa-2x mx-2 my-2"></i></a>
                                                <a href="https://github.com/onofre925" target="_blank"><i class="collapseicon fab fa-github-square fa-2x mx-2 my-2"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <hr />

        <div data-spy="scroll" class="relpos" data-target="#navbar-scrollspy" data-offset="0">

    <!------------------------------ CLIENT ------------------------------>
    <div id="client" class="text-white container container-md mt-lg-5 mb-lg-5">
        <h2>Meet Our Client</h2>
        <div style="display: flex; justify-content: center">
            <div class="client_card">
                <img src="~/images/assets/profile/pastorJun.png" alt="Client Photo" style="width:35%; border-radius: 50%;">
                <h1 class="my-2">Jun Pacifico</h1>
                <p class="title">Client</p>
                <hr />
                <p>
                    Former Verizon Software Development Analyst and Entrepreneaur of many buisnesses. Knows a lot about the software development field, and
                    took part in the launch of Verizon's website when he was still in active employment. Later on in life, he started up and lead many buisnesses in
                    many fields including his own Software Solutions Company. However, he changed his vocation when God called him to ministry. He is now a
                    full-time pastor at Allegiant Church.
                    <br />
                    <br />
                    <text style="font-size:1em;">Links</text>
                    <hr />
                    <a href="https://theallegiantchurch.com/" target="_blank" style="color:white;"><i class="fas fa-globe fa-2x my-2 mx-5"></i></a>
                    <br />
                    <text class="mx-4">Allegiant Church</text>
                </p>
            </div>
        </div>
    </div>

            <hr />


    <!------------------------------ ADVISORS ------------------------------>
    <div id="advisors" class="text-white container container-md mt-lg-5 mb-lg-5">
        <h2 class="mb-4">Our Advisors</h2>
        <div style="display: flex; justify-content: center">
            <div class="prof_card">
                <h4 style="text-align: center;">Professor</h4>
                <img src="~/images/assets/profile/profChris.jpeg" alt="Grove Photo" style="width:50%; border-radius: 50%;">
                <h1 class="my-2">Chris Grove</h1>
                <p class="title">Professor</p>
                <hr />
                <p>
                    Blurb about Prof. Grove . . .
                </p>
                <hr />
                <p>Sacramento State University</p>
                <a href="https://www.linkedin.com/in/chrisbgrove" target="_blank" style="color:white;"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>

            <div class="advi_card">
                <h4 style="text-align: center;">Advisor</h4>
                <img src="~/images/assets/profile/profLim.jfif" alt="Lim Photo" style="width:50%; border-radius: 50%;">
                <h1 class="my-2">Yongwhan Lim</h1>
                <p class="title">Lecturer</p>
                <hr />
                <p>
                    Blurb about Prof. Lim . . .
                </p>
                <hr />
                <p>Sacramento State University</p>
                <a href="https://www.linkedin.com/in/yongwhan-lim-09855328" target="_blank" style="color:white;"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
        </div>
    </div>


    <!-- thematic break -->
    <hr />


            @*BACKGROUND*@
            <div id="background" class="text-white container container-md mt-lg-5 mb-lg-5">
                <div class="row text-center">
                    <h2>Background</h2>
                </div>
                <div class="row text-center">
                    <div class="col-2">
                    </div>
                    <div class="col-8">
                        <p style="padding-top: 2%">
                            So we were tasked with creating a new church management operations system, ChurchPoint, that
                            would be a operational efficenty system that could service different types of church and regardless of size. This system would
                            include specific functions that the client would like that other church management systems could not offer.
                        </p>
                    </div>
                    <div class="col-2">
                    </div>
                </div>
            </div>
        


        <!-- thematic break -->
        <hr />


        @*PROBLEM*@
        <div id="problem" class="text-white container container-md mt-lg-5 mb-lg-5">
            <div class="row text-center">
                <h2>Problem & Proposed Solution</h2>
            </div>
            <div class="row mt-lg-5 mb-3">
                <div class="col-5 text-center">
                    <h3>The Problem</h3>
                    <div class="row">
                        <div class="row text-left mb-3">
                            <h6>
                                <text style="font-size:0.8em; font-family:Roboto; font-weight:lighter;">Existing Church Management Applications are</text>
                            </h6>
                        </div>
                        <div class="row text-left align-items-center justify-content-center">
                            <div class="col-4">
                                <i class="far fa-times-circle fa-5x fa_color_red pb-5"></i>
                            </div>
                            <div class="col-4">
                                <ul class="list-unstyled">
                                    <li class="mb-1"><text style="font-size:0.8em;"><b>Incomplete</b></text></li>
                                    <li class="mb-1"><text style="font-size:0.8em;"><b>Only Target Specific Functions</b></text></li>
                                    <li class="mb-1"><text style="font-size:0.8em;"><b>Too Generalized</b></text></li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <div class="row mt-lg-5"></div>
                                <div class="row mt-lg-5"></div>
                                <i class="fas fa-search fa-5x fa_color_orange"></i>
                            </div>
                                </div>
                        </div>
                    </div>
                <div class="col-2"></div>
                <div class="col-5 text-center">
                    <h3>The Proposed Solution</h3>
                    <div class="row">
                        <div class="row text-right mb-3">
                            <h6>
                                <text style="font-size:0.8em; font-family:Roboto; font-weight:lighter;">Churchpoint is a Robust Church Management System Incorporating the Latest Technologies</text>
                            </h6>
                        </div>
                        <div class="row text-right align-items-center justify-content-center">
                            <div class="col-1"></div>
                            <div class="col-5">
                                <div class="row">
                                    <div class="col-12 my-4"><i class="fas fa-cogs fa-5x fa_color_light_blue"></i></div>
                                </div>
                                <div class="row">
                                    <div class="col-12 my-4"><i class="fas fa-puzzle-piece fa-5x fa_color_mint_green"></i></div>
                                </div>
                            </div>
                            <div class="col-6">
                                <ul class="list-unstyled">
                                    <li class="mb-1"><text style="font-size:0.8em;"><b>Process-Driven</b></text></li>
                                    <li class="mb-1"><text style="font-size:0.8em;"><b>Service-Oriented</b></text></li>
                                    <li><text style="font-size:0.8em;"><b>Information System Which is</b></text></li>
                                    <li><text style="font-size:0.65em;">Extensible</text></li>
                                    <li><text style="font-size:0.65em;">Flexible</text></li>
                                    <li><text style="font-size:0.65em;">Security Compliant</text></li>
                                    <li><text style="font-size:0.65em;">Adaptable to any Church Environment</text></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- thematic break -->
<hr />


    @*HIGHLIGHTS*@
    <div id="highlights" class="text-white container-fluid mt-lg-5 mb-lg-5">
        <div class="row text-center">
            <div class="col">
            <h2>Highlights</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-2">
                <div class="row mt-lg-5"></div>
                <div class="row">
                    <i class="fas fa-tasks fa-3x"></i>
                </div>
                <div class="row mt-lg-5"></div>
                <div class="row mt-lg-5"></div>
                <div class="row mt-lg-5"></div>
                <div class="row mt-lg-5"></div>
                <div class="row mt-lg-5"></div>
                <div class="row">
                    <i class="fas fa-address-card fa-3x"></i>
                </div>
            </div>
            <div class="col-8">
                <h4 style="padding-top: 3%">Resource Management</h4>
                <p style="padding-top: 2%">Consists of all the necesarry services needed to manage a church. (HR, Finance and Treasury, Staff, Volunteers, Inventory, etc.)</p>
                <h4 style="padding-top: 3%">Social & Event Engagement</h4>
                <p style="padding-top: 2%">Inclusive church information can be found within the website that will display social engagements as well as allow for events to be created and handled. </p>
                <h4 style="padding-top: 3%">Membership Services</h4>
                <p style="padding-top: 2%">Track the attendance of Members, visitors, and be able to display the data within a time period.</p>
                <h4 style="padding-top: 3%">Ministry Services</h4>
                <p style="padding-top: 2%">Tailored specifically for a church management software, these features will include Prayrer, Discipleship, Koinonia, Praise & Worship, Evangalism, etc.</p>
            </div>
            <div class="col-2">
                <div class="row mt-lg-5"></div>
                <div class="row mt-lg-5"></div>
                <div class="row mt-lg-5"></div>
                <div class="row mt-lg-5"></div>
                <div class="row">
                    <i class="fas fa-comment fa-3x"></i>
                </div>
                <div class="row mt-lg-5"></div>
                <div class="row mt-lg-5"></div>
                <div class="row mt-lg-5"></div>
                <div class="row mt-lg-5"></div>
                <div class="row">
                    <i class="fas fa-cross fa-3x"></i>
                </div>
            </div>
        </div>
    </div>


<!-- thematic break -->
<hr />


    @*SCOPE*@
    <div id="scope" class="text-white container-fluid mt-lg-5 mb-lg-5">
        <div class="row text-center">
            <h2>Scope</h2>
        </div>
        <div class="row mt-lg-5">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="row text-center">
                    <h4>Churchpoint's Key Features</h4>
                </div>
                <div class="flex-row text-center mt-3 mb-3">
                    <i class="fas fa-cloud-download-alt fa-3x px-5"></i>
                    <i class="fas fa-puzzle-piece fa-3x px-5"></i>
                    <i class="fab fa-google-plus-square fa-3x px-1"></i>
                    <i class="fab fa-facebook-square fa-3x px-1"></i>
                    <i class="fas fa-user-plus fa-3x px-5"></i>
                </div>
                <div class="row text-center mt-lg-5">
                    <ul class="list-unstyled">
                        <li class="mb-5">Cloud-based & Highly Compatible with Mobile Devices</li>
                        <li class="mb-5">Flexible & Adaptable to any Church Environment</li>
                        <li class="mb-5">Integration with Social Platforms</li>
                        <li class="mb-5">Single-User Management Capability</li>
                    </ul>
                </div>
            </div>
            <div class="col-1"></div>
                    </div>
@*            <div class="col-5">
                <div class="row">
                    <div class="col">
                        <div class="row mb-lg-5"></div>
                        <div class="row">
                            <i class="fas fa-cloud-download-alt fa-3x"></i>
                            <div class="row mb-lg-5"></div>
                            <div class="row mb-lg-5"></div>
                            <div class="row mb-lg-5"></div>
                            <div class="flex-row">
                                <i class="fab fa-google-plus-square fa-3x px-1"></i>
                                <i class="fab fa-facebook-square fa-3x px-1"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row mb-lg-5"></div>
                        <div class="row mb-lg-5"></div>
                        <div class="row mb-lg-5"></div>
                        <div class="row">
                            <i class="fas fa-user-plus fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
        
</div>


<!-- thematic break -->
<hr />


    @*PROTOTYPES*@
    <div class="text-white container container-md mt-lg-5 mb-lg-5">
        <div class="row d-flex align-items-center justify-content-center mb-lg-5">
            <h2 id="prototypes" class="text-center mb-4">Prototypes</h2>
            <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);"
                    width="1000" height="650"
                    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FLNJVIU64duxPDdnbh19jrC%2FWireframing-in-Figma%3Fpage-id%3D0%253A1%26node-id%3D597%253A3342%26viewport%3D241%252C48%252C0.06%26scaling%3Dscale-down%26starting-point-node-id%3D597%253A3342" allowfullscreen>
            </iframe>
        </div>

        <div class="row d-flex align-items-center justify-content-center mt-lg-5">
            <iframe width="800" height="450" src="https://miro.com/app/embed/o9J_lmr8VMw=/?pres=1&frameId=3074457366700954446" frameBorder="0" scrolling="no" allowFullScreen></iframe>
        </div>
        <div class="row d-flex align-items-center justify-content-center mt-lg-5">
            <iframe width="800" height="450" src="https://miro.com/app/live-embed/o9J_lj8kmVs=/?moveToViewport=-3832,-1841,11383,5662" frameBorder="0" scrolling="no" allowFullScreen></iframe>
        </div>
    </div>


<!-- thematic break -->
<hr />


@*TIMELINE*@
<div class="timelineContainer container mt-lg-5">
    <h2 id="timeline" style="color:white;">Timeline</h2>
    <section class="timeline">
        <div>
            <div class="timeline-item reveal fade-bottom">
                <div class="timeline-img"></div>
                <div class="timeline-content timeline-card js--fadeInRight">
                    <div class="timeline-img-header">
                        <h2>Sprint 0 | Zero Day</h2>
                    </div>
                    <div class="date">Sep. 27, 2021 - Oct. 11, 2021</div>
                    <br />
                    <p class="m-3">
                        In the opening week of CSC 190 the team was tasked to draft a Project Proposal,
                        Draft a Project Charter Document, and Sign a Product Charter Document. No one really 
                        knew each other so it was kind of awkward at first. Do we work well together or not?
                        Will this motley crew learn the Microsoft Tech Stack in time? Did the Project Manager 
                        pick the right teammates? Who knows? Read on to find out. 
                    </p>
                    <br />
                </div>
            </div>

            <div class="timeline-item reveal fade-bottom">
                <div class="timeline-img"></div>
                <div class="timeline-content timeline-card js--fadeInRight">
                    <div class="timeline-img-header1">
                        <h2>Sprint 1 | New Beginnings</h2>
                    </div>
                    <div class="date">Oct. 11, 2021 - Oct. 26, 2021</div>
                    <br />
                    <p class="m-3">
                        As we started moving along in Sprint 1, the team was tasked to establish bi-weekly
                        meetings with our Lab Advisor, and Client Review Meetings. Our deliverables included
                        a Buisness Event Table, and Context Diagram. Additionally, our team procured steps to
                        establish Git Versioning, and C# Code Guide to remain organized throughout development.
                        Furthermore, we also drafted a rough wireframe of the potential product and began
                        Front-End Prototyping in ASP.NET for our Functional Prototype. The UI/UX team also
                        created several assets such as the Project Logo. The Database team also established
                        the rough draft of Domain Data Entities and Relationships.
                    </p>
                    <br />
                </div>
            </div>
            <div class="timeline-item reveal fade-bottom">
                <div class="timeline-img"></div>
                <div class="timeline-content timeline-card js--fadeInRight">
                    <div class="timeline-img-header2">
                        <h2>Sprint 2 | The Training Arc</h2>
                    </div>
                    <div class="date">Oct. 26, 2021 - Nov. 1, 2021</div>
                    <p class="m-3">
                        During our Sprint 2 we started training on our tech stack as a majority of team
                        members needed to develop skillsets geared toward the Microsoft Tech Stack. The training
                        sessions were led by the Project Manager. He lead both C# training sessions
                        in hopes to equip the team with fundamental C# programming skills and best practices.
                        We then established a unique method for Jira operations, Weekly Standups, and Planning
                        Poker for each sprint. The team also decided to have General Meetings every week to
                        stay on top of our tasks. We continued working on our wireframe, database design, and
                        other graphical assets. Additionally, we went over standard DevOps procedures.
                    </p>
                    <br />
                </div>
            </div>
            <div class="timeline-item reveal fade-bottom">
                <div class="timeline-img"></div>
                <div class="timeline-content timeline-card js--fadeInRight">
                    <div class="timeline-img-header3">
                        <h2>Sprint 3 | Down to Business</h2>
                    </div>
                    <div class="date">Nov. 1, 2021 - Nov. 15, 2021</div>
                    <p class="m-3">
                        Sprint 3 was challenging for the  team. On top of our daily development for the project
                        we needed to deliver 2 Mini-Projects using our Tech Stack. Other deliverables for this
                        sprint included, Refined Database Entities, Starter API Draft Design, and more development
                        on the High-Fidelity Wireframe on Figma. The team met with the client to make some adjustments
                        on the project, but overall the Client was extremely pleased with our teamwork. He also
                        commented that our progress was both swift and of high-quality. So the aftermath of this
                        sprint included the Wireframe Login Menu, Wireframe Social Media Integration Windows, and
                        the establishment of the official GIT Repository for our project. We also started coding our
                        Team Website for Allegiant.DEV in ASP.NET Razor Pages.
                    </p>
                    <br />
                </div>
            </div>
            <div class="timeline-item reveal fade-bottom">
                <div class="timeline-img"></div>
                <div class="timeline-content timeline-card js--fadeInRight">
                    <div class="timeline-img-header4">
                        <h2>Sprint 4 | The Pressure is On</h2>
                    </div>
                    <div class="date">Nov. 15, 2021 - Nov. 29, 2021</div>
                    <br />
                    <p class="m-3">
                        Sprint 4 is crunch time. The team needed to finish the Mini-Projects to present to our
                        lab advisor. Unforunately, there were some team scheduling issues, but for those dedicated MVPs who
                        stuck out late nights to finish the deliverables allowed the team to finish strong. During our
                        advisor meeting, Professor Lim responded with "Wow, amazing! I'm looking forward to your
                        presentation" when he saw our project delivrables and mini-projects. During our team presentation
                        our team blew away Professor Grove and got a "Wow... Impressive".
                        Our team alsofinished working on the Project Website, the very website you are looking this blurb on.
                    </p>
                    <br />
                </div>
            </div>
            <div class="timeline-item reveal fade-bottom">
                <div class="timeline-img"></div>
                <div class="timeline-content timeline-card js--fadeInRight">
                    <div class="timeline-img-header5">
                        <h2>Sprint 4.5 | Thank You 190, Next 191 </h2>
                    </div>
                    <div class="date">Nov. 29, 2021 - Jan. 23, 2021</div>
                    <br />
                    <p class="m-3">
                        Sprint 4.5 is still ongoing and we are looking to bootcamp on the Microsoft Tech Stack
                        two weeks before Spring Semester starts. This gives our team a needed break and time to spend
                        the holidays with loved ones. Our momentum is to the moon, and our team is looking forward
                        to clap the rest of this project. . . See you at 191!
                    </p>
                    <br />
                </div>
            </div>
        </div>
    </section>
</div>
